header {

  section {
    justify-content: space-between;
    align-items: center;
  }

  nav {

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;

      li {

        a {
          margin: 0px 15px;
          color: $color-primaria;
        }

      }
    }
  }
}
