@mixin button-style($background, $color) {
    background: $background;
    color: $color;
    font-weight: 600;

    &:hover{
        background: darken($background, 10%)
    }
}

.btn{
    width: 200px;
    padding: 10px;
    background: none;
    border: 0;
    border-radius: 10px;

    &.btn-orange{
        @include button-style($color-orange,#fff)
    }

    &.btn-blueviolet{
        @include button-style($color-blueviolet,#fff)
    }

    &.btn-blue{
        @include button-style($color-blue,#fff)
    }
}
