.btn{
    width: 200px;
    padding: 10px;
    background: none;
    border: 0;
    border-radius: 10px;

    // &.btn-orange{
    //     background: orange;
    // }
}

.btn-orange{
    @extend .btn;
    background: orange;
}